@import "./var.scss";

@font-face{
  font-family:JetBrains Mono-Regular;
  src:url("/fonts/JetBrainsMono-Regular.woff2") format("woff2");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "JetBrains Mono-Regular",Menlo,Monaco,Consolas,monospace;
}

#app {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.el-loading-mask {
  background-color: transparent;
}

a {
  color: $main-color;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}